.public-menu{
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 12px rgb(223 227 230 / 40%);
}
.menu-tabs{
    font-size: 23px;
    color: #7f8083;
    padding-top: 15px;
}
.menu-tab:hover{
    color: #515151;
    cursor: pointer;
}
.public-menu img{
    width: 50px;
}

.public-menu .logo{
    font-size: 40px;
}