.modal-content{
    border-radius: 20px !important;
    border: 0px !important;
    color: #767676 !important;
}
.modal-header{
    border: 0px !important;
}
.modal-header button{
    border: 0px;
    background: none;
    font-size: 20px;
}
.modal-footer{
    border:0px !important;
}